.register__container {
  grid-column: 1/2;
}

.register__title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--font-color);
}

@media screen and (max-width: 730px) {
  .register__container {
    grid-column: 1/4;
  }
}
