.nav__link {
  font-size: 1rem;
  font-weight: 500;
  color: var(--font-color);
}

.nav__icon {
  width: 24px;
  :global(.icon__search) {
    content: var(--search-img);
    display: block;
  }
  :global(.icon__shop) {
    content: var(--shop-img);
    display: block;
  }
  :global(.icon__theme) {
    content: var(--theme-img);
    display: block;
  }
}

.icon__logo {
  content: var(--logo-img);
  width: 170px;
}

.nav__icon img,
.icon__logo img {
  width: 100%;
}

@media screen and (max-width: 730px) {
  .icon__logo {
    width: 135px;
  }
}
