.progress__control__container {
  margin-top: 3rem;
  border-top: 1px solid var(--divider-color);
  cursor: pointer;
}

.progress__control__button__group {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:global(.btn__back) {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color);
}

:global(.btn__back[disabled]) {
  visibility: hidden;
}

:global(.btn__prinary) {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background-color: #f67599;
  border-radius: 8px;
  padding: 14.5px 47.5px;
}