.cart-info {
  border-top: 1px solid var(--cart-border-color);
  padding: 1rem 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.cart__text {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color);
}

.cart__price {
  font-size: 14px;
  font-weight: 700;
  color: var(--font-color);
}